<!DOCTYPE html>
<html lang="en">
<head>
<!-- Use correct character set. -->
<meta charset="utf-8">
<!-- Tell IE to use the latest, best version. -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<title>Hello (Cesium) World!</title>

<script src="https://cesiumjs.org/releases/1.39/Build/Cesium/Cesium.js"></script>
<script src="https://cesiumjs.org/releases/1.39/Apps/Sandcastle/Sandcastle-header.js"></script>
<link rel="stylesheet" type="text/css" href="https://cesiumjs.org/releases/1.38/Build/Cesium/Widgets/widgets.css"/>

<style>
	html, body, #cesiumContainer {
		width: 800px; height: 600px; margin: 0; padding: 0; overflow: hidden;
  	}
</style>

</head>
<body>
<div id="cesiumContainer"></div>
<script>

	var SPACE_BAR = 32;
	var LEFT_ARROW = 37;
	var UP_ARROW = 38;
	var RIGHT_ARROW = 39;
	var DOWN_ARROW = 40;
	var SHIFT_KEY = 16;

	var viewer = new Cesium.Viewer('cesiumContainer');
	var sphereRadius = 1000.0 * 30;

	var dataSource = Cesium.CzmlDataSource.load("data.czml");

	viewer.dataSources.add(dataSource); 
	var sat;
  
	/*  
	var handler = new Cesium.ScreenSpaceEventHandler(viewer.scene.canvas);

	handler.setInputAction(function(click) {
		var pickedObject = viewer.scene.pick(click.position);

		if(Cesium.defined(pickedObject)){
			var czmlSatId = pickedObject.id._id;

			var entities = viewer.dataSources.get(0).entities;
			sat = entities.getById(czmlSatId);
			
		}
	}, Cesium.ScreenSpaceEventType.LEFT_CLICK);
	*/



	

	setTimeout(function(){
		var entities = viewer.dataSources.get(0).entities;
		sat = entities.getById("Satellite/ISS (ZARYA)");

		var satelliteCartesian = sat.position.getValue(viewer.clock.currentTime);
		var satelliteCarto = Cesium.Cartographic.fromCartesian(satelliteCartesian);

		var height = 500;
		var groundCartesian = getCartesianAtHeight(satelliteCarto, height);
	}, 1000); 
	

	
	document.addEventListener('keydown', keyDown, false);

	

	function keyDown(e) {

		switch(e.keyCode){
			case UP_ARROW:
				viewer.camera.moveForward(1000 * 10);
				break;

			case DOWN_ARROW:
				viewer.camera.moveBackward(1000 * 10);
				break;	

			case LEFT_ARROW:
				viewer.camera.moveLeft(1000 * 10)
				break;	

			case RIGHT_ARROW:
				viewer.camera.moveRight(1000 * 10)
				break;		

			case SPACE_BAR:
				var ray = new Cesium.Ray(viewer.camera.position, viewer.camera.direction);
				var cartesian = Cesium.Ray.getPoint(ray, 500.0 * 1000);

				dropSphere(cartesian, ray);
				break;								

			default:
				console.log("keydown: " + e.keyCode);
		}
	}


	function dropSphere(cartesian, ray) {
		
		var intervalID;
		var count = 1;			

		var sphere = drawSphere(cartesian, sphereRadius);

		intervalID = setInterval(function(){

			newCartesian = Cesium.Ray.getPoint(ray, (250.0 * 1000 * count));
					
			sphere.position = newCartesian;

			count++;
			if(count > 200){
				clearInterval(intervalID);
			}
		}, 250);
	}

	function getCartesianAtHeight(cartographic, height){
		var longitude = Cesium.Math.toDegrees(cartographic.longitude);
		var latitude = Cesium.Math.toDegrees(cartographic.latitude);

		return Cesium.Cartesian3.fromDegrees(longitude, latitude, height);

	}

	function drawPoint(position){
		var p = viewer.entities.add({
			position: position,
			point: {
				pixelSize:15,
				color: Cesium.Color.RED
			}
		});		
		return p;
	}

	function drawSphere(position, radius) {
		var redSphere = viewer.entities.add({
			position: position,
			ellipsoid: {
				radii: new Cesium.Cartesian3(radius, radius, radius),
				material : Cesium.Color.RED
			}
		});	
		return redSphere;
  	}
</script>
</body>
</html>